body{
	background: rgb(102,189,110);
}
.init {
	background-color: #c4c4c4;
	/*float:left;*/
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	border-left: 1px solid #ffffff;
}
#box{
	width: 800px;
	height: 600px;
	margin: 0 auto;
}

.tapNum {
	background-color: #eeeeee;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	border-left: 1px solid #ffffff;
	text-align: center;
}

.tapBoom {
	background-color: red;
	background-image: url('../img/mine.png');
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	border-left: 1px solid #ffffff;
}

.boom {
	background-color: #eeeeee;
	background-image: url('../img/mine.png');
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	border-left: 1px solid #ffffff;
}

.container {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 450px;
	left: 0;
	margin-top: 10%;
	right: 30%;
	display: flex;
	flex-wrap: wrap;
}

.flag {
	background-color: #eeeeee;
	background-image: url('../img/flag.png');
	filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	/*float:left;*/
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	border-left: 1px solid #ffffff;
}

.rightBoard{
	/*background-color: #eeeeee;*/
	width: 30%;
	margin-top: 10%;
	display: inline-block;
	float: left;
}

.game{
	float: left;
	width: 60%;
	height: 100%;
}

.number{
	color: red;
	font-size: 2em;
	padding: 10px;
}

.item{
	text-align: center;
}

#restart{
	width: 80px;
	height: 30px;
	margin: 5px 5px 5px 30%;
}